<nav>
  <div class="fsa-nav-global">
    <div class="fsa-nav-global__bd">
      <ul class="fsa-nav-global__list" aria-label="Primary Navigation" id="primary-navigation">
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV1_ACTIVE }}fsa-nav-global__link--active{{/if}}" href="{{ URL_PREFIX }}index.html">
            <span class="fsa-nav-global__text">Home</span>
          </a>
        </li>
        <li class="fsa-nav-global__list-item">
          <button class="fsa-nav-global__link {{#if NAV2_ACTIVE }}fsa-nav-global__link--active{{/if}} fsa-nav-global__link--has-sub-menu" type="button" aria-expanded="false" aria-controls="UNIQUE-ID-593945">
            <span class="fsa-nav-global__text" id="UNIQUE-ID-123456789">Admin</span>
          </button>
          <div class="fsa-nav-global__sub-menu" id="UNIQUE-ID-593945" aria-hidden="true">
            <div class="fsa-nav-global__sub-menu-bd">
              <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-123456789">
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Overview</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Reporting Configuration</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Investment Placement</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Burden Investment</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Performance Management</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Budgetery Max Funding</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Premium Exposure Drive</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Technology Plans</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Drive Texture Mechanics</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Unilateral Placement Shifting</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV3_ACTIVE }}fsa-nav-global__link--active{{/if}}" href="{{ URL_PREFIX }}link.html">
            <span class="fsa-nav-global__text">Customer</span>
          </a>
        </li>
        <li class="fsa-nav-global__list-item fsa-nav-global__list-item--multi-column">
          <button class="fsa-nav-global__link {{#if NAV4_ACTIVE }}fsa-nav-global__link--active{{/if}} fsa-nav-global__link--has-sub-menu" type="button" aria-expanded="false" aria-controls="UNIQUE-ID-852145">
            <span class="fsa-nav-global__text" id="UNIQUE-ID-123ABC789">Transaction</span>
          </button>
          <div class="fsa-nav-global__sub-menu" id="UNIQUE-ID-852145" aria-hidden="true">
            <div class="fsa-nav-global__sub-menu-bd" aria-labelledby="UNIQUE-ID-123ABC789">
              <div class="fsa-nav-global__sub-menu-group">
                <h3 class="fsa-nav-global__sub-menu-title" id="UNIQUE-ID-595553945">Cyclical Purchasing</h3>
                <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-595553945">
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Overview</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Budgetery Max Funding</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Premium Exposure Drive</a></li>
                </ul>
              </div>
              <div class="fsa-nav-global__sub-menu-group">
                <h3 class="fsa-nav-global__sub-menu-title" id="UNIQUE-ID-5955s5s53945">Overage Charge Stream</h3>
                <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-5955s5s53945">
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Overview</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Reporting Configuration</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Investment Placement</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Burden Investment</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Performance Management</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Drive Texture Mechanics</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Unilateral Placement Shifting</a></li>
                </ul>
              </div>
              <div class="fsa-nav-global__sub-menu-group">
                <h3 class="fsa-nav-global__sub-menu-title" id="UNIQUE-ID-595553gq65">Fiscal Unit Development</h3>
                <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-595553gq65">
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Overview</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Budgetery Max Funding</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Premium Exposure Drive</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Technology Plans</a></li>
                </ul>
              </div>
              <div class="fsa-nav-global__sub-menu-group">
                <h3 class="fsa-nav-global__sub-menu-title" id="UNIQUE-ID-sgwq64565a">Lorem ipsum dolor</h3>
                <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-sgwq64565a">
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Overview</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Consectetur adipisicing elit</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Tempora magni dolore</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Itaque dolorum</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Blanditiis architecto</a></li>
                  <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Culpa</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="fsa-nav-global__list-item fsa-nav-global__list-item--multi-column">
          <button class="fsa-nav-global__link {{#if NAV5_ACTIVE }}fsa-nav-global__link--active{{/if}} fsa-nav-global__link--has-sub-menu" type="button" aria-expanded="false" aria-controls="UNIQUE-ID-6s6s66">
            <span class="fsa-nav-global__text" id="UNIQUE-ID-6s6234HGDF66">Reports</span>
          </button>
          <div class="fsa-nav-global__sub-menu" id="UNIQUE-ID-6s6s66" aria-hidden="true">
            <div class="fsa-nav-global__sub-menu-bd">
              <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-6s6234HGDF66">
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Overview</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Reporting Configuration</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Investment Placement</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Burden Investment</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Performance Management</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Budgetery Max Funding</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Premium Exposure Drive</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Technology Plans</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Drive Texture Mechanics</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Unilateral Placement Shift</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Reporting Configuration</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Investment Placement</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Burden Investment</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Performance Management</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Budgetery Max Funding</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Premium Exposure Drive</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Technology Plans</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Drive Texture Mechanics</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Unilateral Placement Shift</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Investment Placement</a></li>
                <li class="fsa-nav-global__sub-menu-item"><a class="fsa-nav-global__sub-menu-link" href="{{ URL_PREFIX }}link.html">Burden Investment</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV6_ACTIVE }}fsa-nav-global__link--active{{/if}}" href="{{ URL_PREFIX }}link.html">
            <span class="fsa-nav-global__text">Resources</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
