
<nav aria-label="Breadcrumbs">
  <div class="fsa-stepped-tabs fsa-stepped-tabs--justified">
    <div class="fsa-stepped-tabs__bd">
      <ol class="fsa-stepped-tabs__list">

        {{#if STEP1}}
        <li class="fsa-stepped-tabs__item">
          <a href="{{ URL_PREFIX }}index.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active" aria-current="true">
            <span class="fsa-stepped-tabs__text">General Information</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Coverage</span>
          </span>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Producer</span>
          </span>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Remittance</span>
          </span>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Approval</span>
          </span>
        </li>
        {{/if}}

        {{#if STEP2}}
        <li class="fsa-stepped-tabs__item">
          <a href="{{ URL_PREFIX }}index.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">General Information</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active" aria-current="true">
            <span class="fsa-stepped-tabs__text">Coverage</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Producer</span>
          </span>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Remittance</span>
          </span>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Approval</span>
          </span>
        </li>
        {{/if}}

        {{#if STEP3}}
        <li class="fsa-stepped-tabs__item">
          <a href="{{ URL_PREFIX }}index.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">General Information</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="{{ URL_PREFIX }}link.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Coverage</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active" aria-current="true">
            <span class="fsa-stepped-tabs__text">Producer</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Remittance</span>
          </span>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Approval</span>
          </span>
        </li>
        {{/if}}

        {{#if STEP4}}
        <li class="fsa-stepped-tabs__item">
          <a href="{{ URL_PREFIX }}index.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">General Information</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="{{ URL_PREFIX }}link.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Coverage</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="{{ URL_PREFIX }}link.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Producer</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active" aria-current="true">
            <span class="fsa-stepped-tabs__text">Remittance</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
            <span class="fsa-stepped-tabs__text">Approval</span>
          </span>
        </li>
        {{/if}}

        {{#if STEP5}}
        <li class="fsa-stepped-tabs__item">
          <a href="{{ URL_PREFIX }}index.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">General Information</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="{{ URL_PREFIX }}link.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Coverage</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="{{ URL_PREFIX }}link.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Producer</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a href="{{ URL_PREFIX }}link.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
            <span class="fsa-stepped-tabs__text">Remittance</span>
          </a>
        </li>
        <li class="fsa-stepped-tabs__item">
          <a class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active"  aria-current="true">
            <span class="fsa-stepped-tabs__text">Approval</span>
          </a>
        </li>
        {{/if}}


      </ol>
    </div>
  </div>
</nav>
