<div class="fsa-field {{#if ERROR}}fsa-field--error{{/if}} {{ CLASS_EXTRA }}">
  <label class="fsa-field__label" for="{{ ID }}" id="{{ ID }}_label">
    {{ LABEL }}
    {{#if LABEL_DESC}}
    <span class="fsa-field__label-desc">{{ LABEL_DESC }}</span>
    {{/if}}
  </label>
  <input
    class="fsa-input fsa-field__item {{ CLASS }}"
    {{#if BEHAVIOR}}data-behavior="{{ BEHAVIOR }}"{{/if}}
    value="{{ INPUT_VALUE }}"
    id="{{ ID }}"
    name="{{ ID }}"
    type="text"
    {{#if MESSAGE}}aria-describedby="{{ ID }}__error-message"{{/if}}
    {{#if REQUIRED}}required="required" aria-required="true"{{/if}}
    aria-describedby="{{ HELP_ID }}"
  >
  {{#if HELP}}
  <span id="{{ HELP_ID }}" class="fsa-field__help">{{ HELP }}</span>
  {{/if}}
  {{#if MESSAGE}}
  <span class="fsa-field__message" id="{{ ID }}__error-message" role="alert">{{ MESSAGE }}</span>
  {{/if}}
</div>
